<div class="container">

    <div class="row">
        <form class="col s12">
            <div class="row">

                <div class="input-field col s12">
                    <input type="text" class="validate" id="track-title">
                    <label for="track_title">Track Title</label>
                </div>

            </div>
            <div class="row">

                <div class="input-field col s12">
                    <input type="text" class="validate" id="track-description">
                    <label for="track_description">Description</label>
                </div>

            </div>
            <!-- TODO: Should be drop-down based on made tracks -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="parent-track">
                        <option value="" disabled selected>Choose parent track</option>
                    </select>
                    <label>Parent Track</label>
                </div>

            </div>
            <!-- TODO: Should be drop-down based on versions -->
            <div class="row">

                <div class="input-field col s12">
                    <select id="version-number">
                        <option value="" disabled selected>Choose version</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <label>Version Number</label>
                </div>

            </div>
        </form>
    </div>

    <!--Upload Track File-->
    <form action="#">
        <div class="file-field input-field">

            <div class="btn">
                <span>Upload Track</span>
                <input type="file" accept="audio/*" id="track-file">
            </div>

            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>

        </div>
    </form>
    
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="track-submit">Submit</a>
</div>

