<!--Project Card-->
<div class="row" id="project-row" ng-controller="projectsController">

    <div class="col s12 m6">
        <div class="card medium hoverable">
            <div class="card-image"> 
                <img src="/images/covers/Deafheaven.png">

            </div>
            <div class="card-content">
                <span class="card-title text-white">{{project.Name}}</span>
                <p>{{project.Description}}</p>
            </div>
            <div class="card-action">
                <a href="project.html">Take me to the repo tree</a>
            </div>
        </div>
    </div>
</div>