<div class="img-div">
    <header id="header">
        <h1>Building your group's music, made easy</h1>
        <div>
            <div class="row">
                <div class="col s3 offset-s3">
                    <a class="waves-effect waves-light btn valign valign-helper">Log In</a>
                </div>

                <div class="col s3">
                    <a class="waves-effect waves-light btn valign valign-helper">Sign Up</a>
                </div>
            </div>
        </div>
    </header>
</div>

<div class="row">

    <div class="col s4">
        <div class="promo-column">
            <i class="fa fa-microphone fa-5x" aria-hidden="true"></i>
            <p class="promo-header">Create</p>
            <p>Take charge of your musical projects and import existing tracks to create your song's structure</p>
        </div>
    </div>
    <div class="col s4">
        <div class="promo-column">
            <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
            <p class="promo-header">Collaborate</p>
            <p>Involve your bandmates and musical groups together to seamlessly add their own pieces and edits</p>
        </div>
    </div>
    <div class="col s4">
        <div class="promo-column">
            <i class="fa fa-file-audio-o fa-5x" aria-hidden="true"></i>
            <p class="promo-header">Control</p>
            <p>Ease the hassle of online collaboration with your group, and maintain a history of the progression your projects</p>
        </div>
    </div>

</div>