<div class="row">
    <a id="create-proj" class="waves-effect waves-light btn col s3 offset-s9 modal-trigger " href="~/partials/track-detail.html">Add Track</a>
</div>

<div class="row" ng-controller="tracksController">
    <h1>Track Listing</h1>
    <table>
        <thead>
        <tr>
            <th>Track Title</th>
            <th>Track Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="track in Tracks">
            <td>{{track.Title}}</td>
            <td>{{track.Description}}</td>
        </tr>
        </tbody>
    </table>
</div>