@{
    ViewBag.Title = "Home Page";
}

<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#"><img src="~/images/logos/Etude_Logo_Yellow_V1.png" class="brand-logo"></a>
            <ul id="nav-mobile" class="right">
                <li><a href="#">My Groups</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" ng-view>
    
</div>