<div class="container">
    <div class="row" ng-controller="tracksController as vm">
        <h1>Track Listing</h1>
        <table>
            <thead>
            <tr>
                <th>Track Title</th>
                <th>Track Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="track in vm.Tracks">
                <td>{{track.Title}}</td>
                <td>{{track.Description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>