nav {
  background: -webkit-linear-gradient(45deg, #EE6E73, #FCFFC1);
  background: linear-gradient(45deg, #EE6E73, #FCFFC1);
}

@media all and (max-width: 1091px) {
  .navbar-li {
      display: none;
  }
}

#header {
    background-image: url("../images/splash/vinyls_cropped.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 55vh;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#header h1 {
    font-size: 3.5em;
    color: black;
}

.img-div {
    margin-bottom: 1.5em;
}

.row hr {
    margin-bottom:1.5em;
}

.promo-column {
    text-align: center;
    vertical-align: middle;
}

.promo-header {
    font-size: 1.7rem;
    font-weight: 500;
}

#create-proj {
  margin-top: 30px;
}

#explore-header h1 {
    text-align:center;
    font-size:40px;
}

#explore-header hr {
    width:10em;
    margin-bottom:1em
}

.card {
    color: black;
}
