nav {
  background: -webkit-linear-gradient(45deg, #EE6E73, #FCFFC1);
  background: linear-gradient(45deg, #EE6E73, #FCFFC1);
}

.img-div {
    margin-top: 2%;
    margin-bottom: 5%;
}

.hero-img {
    width: 100%;
}

.promo-column {
    text-align: center;
    vertical-align: middle;
}

.promo-header {
    font-size: 1.7rem;
    font-weight: 500;

}

#create-proj {
  margin-top: 30px;
}

.card {
  background-color: -webkit-linear-gradient(45deg, #1DAD9B, #FCFFC1);
    color: black;
}
