nav {
  background: -webkit-linear-gradient(45deg, #EE6E73, #FCFFC1);
  background: linear-gradient(45deg, #EE6E73, #FCFFC1);
}

.log-in-row {
    margin-top: 50%;
}

#create-proj {
  margin-top: 30px;
}

.card {
  background-color: -webkit-linear-gradient(45deg, #1DAD9B, #FCFFC1);
    color: black;
}
